<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gen.mapper.UserMapper" >
  <resultMap id="BaseResultMap" type="com.gen.entity.User" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="user_name" property="username" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, user_name,password
  </sql>

  <select id="findList" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from user
  </select>


  <!--<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from sys_user
    where id = #{id,jdbcType=INTEGER}
  </select>
  <insert id="insert"   keyProperty="id" useGeneratedKeys="true"  parameterType="com.nfdimp.bussiness.dao.entity.SysUser" >
    insert into sys_user (id, user_name, password, 
      real_name, mobile, type, 
      locked, role_id
      )
    values (#{id,jdbcType=INTEGER}, #{userName,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{realName,jdbcType=VARCHAR}, #{mobile,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, 
      #{locked,jdbcType=BIT}, #{roleId,jdbcType=VARCHAR})
  </insert>-->
 </mapper>